/*
BEM:  Bloque - Elemento - Modificador
*/

/*Variables*/
:root {
   --black-color: #1a1b2d;
   --blue-color: #135bfb;
   --purple-dark-color: #21213b;
   --purple-medium-color: #2f304e;
   --purple-intense-color: #6823f0;
   --pink-color: #ff0175;
   --pink-teen-color: #ff4677;
   --white-rbg-color: 255, 255, 255;
   --green-rbg-color: 0, 212, 113;
   --green-color: #00BC7F;
   --orange-color: #ff8800;
   --cyan-color: #15e9fe;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: .5s;
}

/*Bloque*/
.header {
   width: 100%;
   height: 300px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
}


.grid {
   background-color: var(--purple-dark-color);
   width: 100%;
   height: auto;
   box-sizing: border-box;
}


svg {
   border: 1px solid var(--purple-medium-color);
   border-radius: 6px;
}

.st0 {
   fill: none;
   stroke: var(--pink-color);
   stroke-width: 10;
   stroke-linecap: round;
   stroke-dasharray: 1, 25;
   stroke-dashoffset: 3;
}

.st1 {
   fill: none;
   stroke: var(--blue-color);
   stroke-width: 10;
   stroke-linecap: round;
   stroke-dasharray: 1, 25;
   stroke-dashoffset: 3;
}


.st2 {
   fill: none;
   stroke: var(--cyan-color);
   stroke-width: 10;
   stroke-linecap: round;
   stroke-dasharray: 1, 20;
   stroke-dashoffset: 3;
}


.st3 {
   fill: none;
   stroke: var(--orange-color);
   stroke-width: 10;
   stroke-linecap: round;
   stroke-dasharray: 1, 18;
   stroke-miterlimit: 10;
}


.st6 {
   fill: none;
   stroke: var(--purple-intense-color);
   stroke-width: 10;
   stroke-linecap: round;
   stroke-dasharray: 1, 18;
   stroke-miterlimit: 10;
}


/*Elemento*/

.grid__container {
   display: grid;
   grid-template-rows: repeat(6, 1fr);
   grid-template-columns: repeat(2, 1fr);

   grid-column-gap: 1em;
   grid-row-gap: 1em;

   padding: 1em;
}

.grid__container>* {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header__title {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
   color: rgb(var(--green-rbg-color));
}

.main__subtitle {
   padding: 1em;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   color: rgba(var(--white-rbg-color), 1);
}

.bg__canvas {
   width: 100%;
   height: auto;
   background-color: var(--black-color);
   box-sizing: border-box;
}



/*Modificador*/

.dash--move {
   animation: dash-animation 20s infinite cubic-bezier(1, .17, .02, .91);
}

.dash--move__opposite {
   animation: dash-animation-opposite 20s infinite cubic-bezier(1, .17, .02, .91);
}


/*Keyframes*/

@keyframes dash-animation {
   to {
      stroke-dashoffset: 1000;
   }
}

@keyframes dash-animation-opposite {
   to {
      stroke-dashoffset: -1000;
   }
}


/*Media Querys*/

@media screen and (max-width: 1020px) {
   .grid__container {
      grid-template-columns: repeat(1, 1fr);
   }
}
