:root {
  --color-black: #181919;
  --color-primary: #4bffa5;
}

* {
  margin: 0;
  padding: 0;
}

.colection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.colection__item {
  width: 100%;
  max-width: 350px;
  height: 500px;
  margin: 1em;
  position: relative;
  overflow: hidden;
}

.detail {
  border-radius: 50%;
  position: absolute;
  background-color: var(--color-primary);
  z-index: 10;
  transition: transform 2.5s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  transform: scale(0);
}

.detail--animated {
  transform: scale(3);
}

.image {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
